 <section class="block container">
      <header class="block__header">
        <h2 class="block___heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, nobis.</p>
      </header>

      <div style="width: 30%; padding: 4rem">
        <div class="card card--secondary">
          <header class="card__header">Card Title</header>
          <div class="card__body">
            Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.
          </div>
        </div>
      </div>
    </section>
    <section class="block block--dark block--skewed-right">
      <div class="container">
        <h2 class="block___heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, nobis.</p>
      </div>
    </section>
    
    <!-- <section class="block block--dark block--skewed-left">
    <h2 class="block___heading">Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, nobis.</p>
    </section> -->