<footer class="block block--dark footer">
      <div class="container grid footer__sections">
      <section class="collapsible collapsible--expanded">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Item 1</h2>
          <svg class="icon icon--primary collapsible__chervon "><use xlink:href="images/sprites.svg#chevron"></use></svg>
        </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, fugit?
      </div>
    </div>
     <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 2</h2>
        <svg class="icon icon--primary collapsible__chervon "><use xlink:href="images/sprites.svg#chevron"></use></svg>
        </header>
        <div class="collapsible__content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, fugit?
        </div>
      </div>
     <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 3</h2>
        <svg class="icon icon--primary collapsible__chervon "><use xlink:href="images/sprites.svg#chevron"></use></svg>
        </header>
        <div class="collapsible__content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, fugit?
        </div>
      </section>
      <section class="footer__brand">
        <img src="images/logo.svg" alt=""/>
        <p class="footer__copyright">Copyright 2020 vengaldasu Nagaraju</p>
      </section>
    </div>
    </footer>