<body style="padding: 3rem;">
  <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
        <img src="images/testimonial.jpg" alt="A Happy Smiling Face">
        <span class="icon-container icon-container--acent">
          <svg class="icon icon--small icon--white"><use xlink:href="images/sprites.svg#quotes"></use></svg>
        </span>
      </div>
      <div>
        <!-- we need the quotation marks to the data for that we are using the blockquote -->

    <blockquote class="quote">
      <p class="quote__text quote__center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias aliquam harum, reprehenderit autem commodi corrupti aliquid temporibus repudiandae. Obcaecati at illum adipisci quasi placeat suscipit magni voluptates atque quia libero.</p>
      <footer>
         <div class="media">
      <div class="media_image">
          <svg class="icon icon--primary  quote__line"><use xlink:href="images/sprites.svg#line"></use></svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith
        </h3>
        <p class="quote__organization">ABC Company</p>
      </div>
    </div>
    </footer>
    </blockquote>
      </div>
      </div>
    </div>
  </body>